name: Deploy Backend (Somee)

on:
  push:
    branches: ["main"]
    paths:
      - "**/*.cs" # Chỉ chạy khi có file .cs thay đổi
      - "**/*.csproj" # Hoặc file cấu hình dự án thay đổi
      - "appsettings.json"
      - ".github/workflows/be.yml"

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      # Build code C#
      - name: Publish Code
        run: dotnet publish **/*.csproj -c Release -o ./publish

      # (Tùy chọn) Upload file app_offline.htm nếu cần khóa server

      # Upload lên Somee
      - name: Upload to Somee
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./publish/
          server-dir: /www.dh52201267oss.somee.com/
